        <div class="100-vh">
            <app-home-video>
                
            </app-home-video>
        </div>
    <section>
        <div class="container">
            <h1>sadasd</h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem neque sunt rerum expedita nesciunt beatae officiis, distinctio at illum adipisci eum quae esse, veniam, tempore iusto magnam amet autem illo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatibus tempora aliquid dolorem doloribus dolorum cumque, molestias aperiam reiciendis vero itaque perferendis ad soluta officia minus exercitationem! Veritatis, impedit nam!
        </div>
    </section>
