<div class="container mt-5">
    <div class="title-text-box">
        <h2 class="title-txt-box">{{name}}</h2>
    </div>
    <p class="title-text">
        ¿Quieres unirte a nuestras fiestas exclusivas, eventos y ganar algo de dinero? Ahora puedes ser parte de nuestro equipo y disfrutar de todas estas 
        increíbles oportunidades. Si quieres conocer más sobre cómo unirte a la diversión, ¡contáctanos y te contamos todo!
    </p>
    <div class="container">
        <router-outlet></router-outlet> <!-- Para rutas principales -->
    </div>  
    
    
</div>