<div id="video-container">
    <video id="video-background" autoplay muted loop>
        <source src="../../../../../assets/video.mp4" type="video/mp4">
        Tu navegador no soporta el elemento de video.
    </video>
    <div class="video-overlay"></div>
    <div id="content">
        <h1>¿FIESTAS EN MADRID?</h1>        
        <!-- <p class="">Las mejores clubs y conciertos de Madrid</p> -->
    </div>
    <div id="text-container">
        <p>LOS MEJORES CLUBS Y FIESTAS DE MADRID</p>
    </div>
 
</div>