<div class="container mt-5">
    <div class="title-txt-box">
        <!-- <h2>{{name}}</h2> -->
        <H2>WELCOME TO PULSEMADRID</H2>      
    </div>
    <p class="title-text">
    Puedes ponerte en contacto con nosotros a través de nuestros diferentes formularios. Estamos abiertos a recibir tus sugerencias, ideas o cualquier comentario relacionado con nuestra marca. ¡Te animamos a compartir con nosotros lo que piensas!
    </p>
    <div class="container">
        <router-outlet></router-outlet> <!-- Para rutas principales -->

    </div>  
    
    
</div>