<div class="container mt-5">
  <div class="title-txt-box">
    <!-- <h2>{{name}}</h2> -->
    <h1>WELCOME TO PULSEMADRID</h1>
  </div>

  <!-- <button (click)="toggleComponent()">Toggle Component</button> -->

  <div *ngIf="showContainer">
    <strong class="showContainer-text">
      Este es nuestro formulario de contacto. Si quieres hablar con nosotros porque te interesa formar parte del proyecto, colaborar o tienes algún problema relacionado con nuestros servicios, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y resolver cualquier duda que tengas. ¡Te esperamos!</strong>
  </div>
</div>

<div>
  <div class="container">
    <router-outlet></router-outlet>
    <!-- Para rutas principales -->
  </div>
</div>
