<div class="container mt-5">
  <div class="title-txt-box">
    <!-- <h2>{{name}}</h2> -->
    <H2>WELCOME TO PULSEMADRID</H2>
  </div>

  <!-- <button (click)="toggleComponent()">Toggle Component</button> -->

  <div *ngIf="showContainer">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illo cumque dolores, fugit eaque dolor rem officia earum nam. Minima ipsam quaerat non unde voluptas a saepe architecto aperiam consequuntur?
    </div>
</div>

<div>
  <div class="container">
    <router-outlet></router-outlet>
    <!-- Para rutas principales -->
  </div>
</div>
